
@font-face {
    font-family: Young-serif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: Outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}



body {
    margin: 0;
    padding: 0;
    flex: 1;
    background-color: hsl(30, 54%, 90%);
    height: 100vh;
    box-sizing: border-box;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mainBody {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}

img {
    height: 250px;
    width: 500px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.title {
    font-family: Young-Serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 15px;
}

.description {
    font-family: Outfit;
    color: hsl(24, 5%, 18%);
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: 300;
}

.prepTime {
    font-family: Outfit;
    background-color: hsl(330, 100%, 98%);
    padding: 18px;
    border-radius: 15px;
    margin-bottom: 18px;
    
}

.prepHead {
    color: hsl(332, 51%, 32%);
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

.prepTime ul {
    padding-left: 0 ;
    margin: 0;
    font-size: 14px;
    padding-right: 30px;
    list-style-position: inside;

}

.prepTime strong {
    padding-left: 24px;
    font-weight: 600;
   
}

.prepTime li {
    margin-bottom: 4px;
    font-weight: 300;
}

.ingredients {
    font-family: Young-Serif;
    color:  hsl(14, 45%, 36%);
    font-size: 24px;
    
}




.ingredients ul {
    font-family: Outfit;
    color: hsl(14, 45%, 36%);
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    list-style-position: inside;
    margin-left: 8px;
}


.ingredients li {
    margin-bottom: 4px;

}

.ingredients li span {
    margin-left: 24px;
    color: black;
}

.divider {
    height: 1px;
    background-color: hsl(30, 18%, 87%);
    margin-bottom: 28px;
    margin-top: 28px;
}



.instructions {
    font-family: Young-Serif;
    color:  hsl(14, 45%, 36%);
    font-size: 24px;
    margin: 0;
}

.instructions ol {
    font-family: Outfit;
    color: hsl(14, 45%, 36%);
    font-size: 14px;
    font-weight: 300;
    padding-left: 20px;
  
   
   
}

.instructions li::marker {
    margin-bottom: 10px;
    color: hsl(14, 45%, 36%);
   
}


.instructions li  {
    color: black;
    
}

.instructions li strong {
    font-weight: 600;
}


.nutrition {
    font-family: Young-Serif;
    color:  hsl(14, 45%, 36%);
    font-size: 24px;
    
}

.nutrition .description  {
    margin-top: 20px;
    text-align: center;
    
}

.description .sub {
    margin-bottom: 50px;
    
}

.cont {
    display:flex ;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
    
}

.st {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}